// Breakpoints
$large-width: 1140px;
$medium-width: 760px;
$small-width: 421px;

$section-max-width: 1100px;
$text-content-max-width: 850px;

$brown: #693b30;
$blue: #2a2282;
$gold: #f9c24d;
$first-class: #ffd65a; 
$second-class: #33cfff; 

$positive-action: rgb(51, 132, 10);

$timeslot-bg: rgb(226, 243, 243);
$timeslot-bg-2: rgb(173, 205, 205);
$timeslot-positive: $positive-action;

$always-black: #000;

$light-bg: #fff;
$dark-text: #333;

$dark-bg: #3c3c3c;
$light-text: #fff;

$border-radius: 4px;
$callout-border-radius: $border-radius;